html{
    font-size: 20px;
}

body {
  background-color: #eab484;
  text-align: justify;
  font-size: 20px;
}


header h1 {
  color: rgb(0, 0, 0);
  border: solid 5px rgb(144, 84, 10);
  
  background-image: linear-gradient(rgba(139, 91, 22, 0.8), rgba(179, 118, 20, 0.8));
  background-size: cover; 
}

a,abbr {
    color: rgb(131, 18, 18);
}

h1,h2,h3 {
    color:rgb(0, 0, 0);
}

h2,h3 {
    background-color: rgb(217, 156, 82, 0.5);
}


p {
    font-family: serif;
}

h1{ font-size: 1.8rem;}
h2{ font-size: 1.4rem;}
h3{ font-size: 1.2rem;}

.summary {
    text-align: right;
}

.main p {
    line-height: 1.5;
}

abbr {
    font-variant: small-caps;
}

ul {
    list-style: none; /* Remove bolinhas padrão */
}

li:nth-child(odd):before {
    content: "🥰 ";
}

li:nth-child(even):before {
    content: "🫡 ";
}

.page-wrapper {
    position: relative;
}

.explanation {
    width: 60%;
    border-right: rgba(153, 93, 3, 0.832) 1px;
    padding-right:
}

.main footer{
    margin: 4%;
}